# Mini Exercises w/ Regular Expression (regex)

In [1]:
import re

In [2]:
subject = 'c 1'

In [4]:
regexp = r'...'
re.findall(regexp, subject)

['c 1']

In [5]:
regexp = r'\w\s\w'
re.findall(regexp, subject)

['c 1']

In [6]:
regexp = r'\D\D\d'
re.findall(regexp, subject)

['c 1']

In [7]:
regexp = r'\w\W\w'
re.findall(regexp, subject)

['c 1']

In [8]:
regexp = r'\D\s\d'
re.findall(regexp, subject)

['c 1']

In [11]:
l = list(subject)
n=''
for c in l:
    n+=c
n

'c 1'

# Mini exercise 2

In [13]:
subject = '''
Codeup, founded in 2014, is located at 600 Navarro St. 
Suite 350, San Antonio, TX 78230. 
tagline: "launch your career in tech!" 
You can find us online at http://codeup.com 
and our alumni portal is located at https://alumni.codeup.com
and "codeup is a great school"!
'''

subject = subject.replace('\n','')
subject

'Codeup, founded in 2014, is located at 600 Navarro St. Suite 350, San Antonio, TX 78230. tagline: "launch your career in tech!" You can find us online at http://codeup.com and our alumni portal is located at https://alumni.codeup.comand "codeup is a great school"!'

In [37]:
# 1. find all the numbers
regexp = r'\d+'
re.findall(regexp, subject)

['2014', '600', '350', '78230']

In [16]:
#2. find the number that has exactly 5 digits
regexp = r'\d{5}'
re.findall(regexp, subject)

['78230']

In [17]:
#3. find the numbers that have 4 or more digits
regexp = r'\d{4}\d*'
re.findall(regexp, subject)

['2014', '78230']

In [38]:
#3. find the numbers that have 4 or more digits
regexp = r'\d{4,}'
re.findall(regexp, subject)

['2014', '78230']

In [23]:
#4. find the sentences contained in quotes
regexp = r'".+?"'
re.findall(regexp, subject)

['"launch your career in tech!"', '"codeup is a great school"']

In [24]:
#4. find the sentences contained in quotes (but not the quotes)
regexp = r'"(.+?)"'
re.findall(regexp, subject)

['launch your career in tech!', 'codeup is a great school']

In [26]:
#5. find http:// or https://
regexp = r'http.*?//'
re.findall(regexp, subject)

['http://', 'https://']

In [40]:
#5 using a | (bitwise or)
regexp = r'http://|https://'
re.findall(regexp, subject)

['http://', 'https://']

In [42]:
# best answer - make the s optional with a ?
regexp = r'https?://'
re.findall(regexp, subject)
# OR
regexp = r'https*://'
re.findall(regexp, subject)

['http://', 'https://']

In [27]:
text = " this 'is a string with single quotes' how you like me now? "

In [34]:
regexp = r"'(.+?)'"
re.findall(regexp, text)

['is a string with single quotes']

In [36]:
regexp = r'\'(.+?)\''
re.findall(regexp, text)

['is a string with single quotes']

In [43]:
subject

'Codeup, founded in 2014, is located at 600 Navarro St. Suite 350, San Antonio, TX 78230. tagline: "launch your career in tech!" You can find us online at http://codeup.com and our alumni portal is located at https://alumni.codeup.comand "codeup is a great school"!'

# Mini Exercise 3

In [61]:
subject

'Codeup, founded in 2014, is located at 600 Navarro St. Suite 350, San Antonio, TX 78230. tagline: "launch your career in tech!" You can find us online at http://codeup.com and our alumni portal is located at https://alumni.codeup.comand "codeup is a great school"!'

In [45]:
# 1. Find any even digits regradles if it is a part of a bigger number)
regexp = r'[02468]'
re.findall(regexp, subject)

['2', '0', '4', '6', '0', '0', '0', '8', '2', '0']

In [46]:
#2. Find entire numbers that are even
regexp = r'\d*[02468]\b'
re.findall(regexp, subject)

['2014', '600', '350', '78230']

In [63]:
# 3. find 2 or more odd digits in a row
regexp = r'[13579]{2,}'
re.findall(regexp, subject)

['35']

In [48]:
#4. Find all capital letters
regexp = r'[A-Z]'
re.findall(regexp, subject)

['C', 'N', 'S', 'S', 'S', 'A', 'T', 'X', 'Y']

In [64]:
# can do more than one range inside []
regexp = r'[A-z1-9]'
re.findall(regexp, subject)

['C',
 'o',
 'd',
 'e',
 'u',
 'p',
 'f',
 'o',
 'u',
 'n',
 'd',
 'e',
 'd',
 'i',
 'n',
 '2',
 '1',
 '4',
 'i',
 's',
 'l',
 'o',
 'c',
 'a',
 't',
 'e',
 'd',
 'a',
 't',
 '6',
 'N',
 'a',
 'v',
 'a',
 'r',
 'r',
 'o',
 'S',
 't',
 'S',
 'u',
 'i',
 't',
 'e',
 '3',
 '5',
 'S',
 'a',
 'n',
 'A',
 'n',
 't',
 'o',
 'n',
 'i',
 'o',
 'T',
 'X',
 '7',
 '8',
 '2',
 '3',
 't',
 'a',
 'g',
 'l',
 'i',
 'n',
 'e',
 'l',
 'a',
 'u',
 'n',
 'c',
 'h',
 'y',
 'o',
 'u',
 'r',
 'c',
 'a',
 'r',
 'e',
 'e',
 'r',
 'i',
 'n',
 't',
 'e',
 'c',
 'h',
 'Y',
 'o',
 'u',
 'c',
 'a',
 'n',
 'f',
 'i',
 'n',
 'd',
 'u',
 's',
 'o',
 'n',
 'l',
 'i',
 'n',
 'e',
 'a',
 't',
 'h',
 't',
 't',
 'p',
 'c',
 'o',
 'd',
 'e',
 'u',
 'p',
 'c',
 'o',
 'm',
 'a',
 'n',
 'd',
 'o',
 'u',
 'r',
 'a',
 'l',
 'u',
 'm',
 'n',
 'i',
 'p',
 'o',
 'r',
 't',
 'a',
 'l',
 'i',
 's',
 'l',
 'o',
 'c',
 'a',
 't',
 'e',
 'd',
 'a',
 't',
 'h',
 't',
 't',
 'p',
 's',
 'a',
 'l',
 'u',
 'm',
 'n',
 'i',
 'c',
 'o',
 'd',
 'e',
 'u',
 'p',
 'c',
 'o',
 'm',
 'a',
 'n',
 'd',
 'c',
 'o',
 'd',
 'e',
 'u',
 'p',
 'i',
 's',
 'a',
 'g',
 'r',
 'e',
 'a',
 't',
 's',
 'c',
 'h',
 'o',
 'o',
 'l']

In [50]:
#5. Find all words that start with a capital letter
regexp = r'[A-Z]\w*'
re.findall(regexp, subject)

['Codeup', 'Navarro', 'St', 'Suite', 'San', 'Antonio', 'TX', 'You']

# Character order
Character order

ASCII-code order is also called ASCIIbetical order.[31] Collation of data is sometimes done in this order rather than "standard" alphabetical order (collating sequence). The main deviations in ASCII order are:

    All uppercase come before lowercase letters; for example, "Z" precedes "a"
    Digits and many punctuation marks come before letters
    
Source wikipedia

In [58]:
text2 = 'This is a string with word-letter combinations W12, x34, a12b'

In [60]:
regexp = r'[0-z|-]+'
re.findall(regexp, text2)

['This',
 'is',
 'a',
 'string',
 'with',
 'word-letter',
 'combinations',
 'W12',
 'x34',
 'a12b']